.wrapper-header{
  height: 72px;
  background-color: antiquewhite;
  display: flex;
}

.wrapper-header ul li{
 
  list-style-type: none;
  display: inline;
  padding: 15px;
  margin: 15px;
 
}
.main-content{
  display: grid;
  place-items: center;
}